#gallery {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 100vh;
}

img {
  width: 100%;
  min-height: 100%;
}

.item {
  list-style: none;
}
